.mychannelinfo {
  display: flex;
  width: 100vw;
}

/* .subinfo {
  display: flex;
} */

.channelinfo {
  background-color: rgb(211, 211, 211);
  width: 100vw;
}

.loggedin {
  display: flex;
  margin-right: 1em;
  margin-top: 1em;
}
