main {
  display: flex;
  flex-direction: column;
}
.mychannelinfo {
  background-color: red;
  position: fixed;
  width: 30%;
  text-align: center;
  margin: 6em;
  border-radius: 50% / 10%;
}

.loggedin {
  display: flex;
  margin-right: 1em;
  margin-top: 1em;
}

.info-container {
  position: fixed;
  width: 73.8em;
  height: 81.57%;
  margin-top: 7%;
  margin-left: 40%;
  border-style: double;
}

::-webkit-scrollbar {
  display: none;
}
